Two functions 'split_datetime' and 'reduce_mem_usage' loaded to 'lamb_martin' package in test.pypi.org

Part 1 - convert a pandas column of datetime64 type into month/day/year separate columns
datetime64 reference - https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
"Furthermore, if you have a Series with datetimelike values, then you can access these properties via the .dt accessor, as detailed in the section on .dt accessors."

In [1]:
import pandas as pd
import numpy as np

In [2]:
#WEB = 'https://raw.githubusercontent.com/martinclehman/DS-Unit-2-Linear-Models/master/data/nyc/nyc-rent-2016.csv'
LOCAL = 'source_data/nyc-rent-2016.csv'

df = pd.read_csv(LOCAL)
df.head()

,bathrooms,bedrooms,created,description,display_address,latitude,longitude,price,street_address,interest_level,...,high_speed_internet,balcony,swimming_pool,new_construction,exclusive,terrace,loft,garden_patio,common_outdoor_space,wheelchair_access
0,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,40.7145,-73.9425,3000,792 Metropolitan Avenue,medium,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2,2016-06-12 12:19:27,,Columbus Avenue,40.7947,-73.9667,5465,808 Columbus Avenue,low,...,0,0,0,0,0,0,0,0,0,0
2,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,40.7388,-74.0018,2850,241 W 13 Street,high,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,40.7539,-73.9677,3275,333 East 49th Street,low,...,0,0,0,0,0,0,0,0,0,0
4,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,40.8241,-73.9493,3350,500 West 143rd Street,low,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.dtypes.head()

bathrooms          float64
bedrooms             int64
created             object
description         object
display_address     object
dtype: object

In [4]:
#Turn "created" column into datetime64
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
df['created'].head()

0   2016-06-24 07:54:24
1   2016-06-12 12:19:27
2   2016-04-17 03:26:41
3   2016-04-18 02:22:02
4   2016-04-28 01:32:41
Name: created, dtype: datetime64[ns]

In [5]:
#df['created_year'] = df['created'].dt.year
#df['created_month'] = df['created'].dt.month
#df['created_day'] = df['created'].dt.day

In [6]:
assert df['created'].dtypes == np.dtype('datetime64[ns]')

In [7]:
def split_datetime(X,col):    
    X = X.copy()
    if (X[col].dtypes == np.dtype('datetime64[ns]')):
        col_yr=col+'_year'
        col_mo=col+'_month'
        col_dy=col+'_day'
        
        X[col_yr]=df[col].dt.year
        X[col_mo]=df[col].dt.month
        X[col_dy]=df[col].dt.day
        
        #X=X.drop(col,axis=1)
        return X
    else:
        print("Column not 'datetime' type")
        return

In [8]:
df=split_datetime(df,'created')
df

,bathrooms,bedrooms,created,description,display_address,latitude,longitude,price,street_address,interest_level,...,new_construction,exclusive,terrace,loft,garden_patio,common_outdoor_space,wheelchair_access,created_year,created_month,created_day
0,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,40.7145,-73.9425,3000,792 Metropolitan Avenue,medium,...,0,0,0,0,0,0,0,2016,6,24
1,1.0,2,2016-06-12 12:19:27,,Columbus Avenue,40.7947,-73.9667,5465,808 Columbus Avenue,low,...,0,0,0,0,0,0,0,2016,6,12
2,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,40.7388,-74.0018,2850,241 W 13 Street,high,...,0,0,0,0,0,0,0,2016,4,17
3,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,40.7539,-73.9677,3275,333 East 49th Street,low,...,0,0,0,0,0,0,0,2016,4,18
4,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,40.8241,-73.9493,3350,500 West 143rd Street,low,...,0,0,0,0,0,0,0,2016,4,28
5,2.0,4,2016-04-19 04:24:47,,West 18th Street,40.7429,-74.0028,7995,350 West 18th Street,medium,...,0,0,0,0,0,0,0,2016,4,19
6,1.0,2,2016-04-27 03:19:56,Stunning unit with a great location and lots o...,West 107th Street,40.8012,-73.9660,3600,210 West 107th Street,low,...,0,0,0,0,0,0,0,2016,4,27
7,2.0,1,2016-04-13 06:01:42,"This huge sunny ,plenty of lights 1 bed/2 bath...",West 21st Street,40.7427,-73.9957,5645,155 West 21st Street,low,...,0,0,1,0,0,0,0,2016,4,13
8,1.0,1,2016-04-20 02:36:35,<p><a website_redacted,Hamilton Terrace,40.8234,-73.9457,1725,63 Hamilton Terrace,medium,...,0,0,0,0,0,0,0,2016,4,20
9,2.0,4,2016-04-02 02:58:15,This is a spacious four bedroom with every bed...,522 E 11th,40.7278,-73.9808,5800,522 E 11th,low,...,0,0,0,0,0,0,0,2016,4,2
10,1.0,0,2016-04-14 01:10:30,New to the market! Spacious studio located in ...,York Avenue,40.7769,-73.9467,1950,1661 York Avenue,low,...,0,0,0,0,0,0,0,2016,4,14
11,1.0,1,2016-06-03 03:21:22,Check out this one bedroom apartment in a grea...,W. 173rd Street,40.8448,-73.9396,1675,644 W. 173rd Street,low,...,0,0,0,0,0,0,0,2016,6,3
12,1.0,2,2016-04-19 05:37:25,***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...,E 38th St,40.7488,-73.9770,3000,137 E 38th St,high,...,0,0,0,0,0,0,0,2016,4,19
13,2.0,2,2016-04-09 01:22:11,Lincoln Square's premier full service building...,West 63rd Street,40.7707,-73.9817,6895,30 West 63rd Street,low,...,0,0,0,0,0,0,0,2016,4,9
14,1.0,1,2016-06-01 03:11:01,Spacious 1-Bedroom to fit King-sized bed comfo...,East 56th St..,40.7584,-73.9648,3050,315 East 56th St..,low,...,0,0,0,0,0,0,0,2016,6,1
15,1.0,0,2016-04-18 02:36:00,Stunning full renovated studio unit. High cei...,East 34th Street,40.7439,-73.9743,2350,340 East 34th Street,medium,...,0,0,0,0,0,0,0,2016,4,18
16,1.0,2,2016-04-22 05:57:16,East Village is a great community with great p...,1st Ave.,40.7305,-73.9830,3650,214 1st Ave.,low,...,0,0,0,0,0,0,0,2016,4,22
17,1.0,1,2016-04-19 03:36:28,"*Location: Thayer St. &amp; Broadway, Manhatta...",Thayer St,40.8643,-73.9280,1695,98 Thayer St,low,...,0,0,0,0,0,0,0,2016,4,19
18,1.0,4,2016-04-20 04:00:32,,West 106th Street,40.7999,-73.9638,5000,127 West 106th Street,low,...,0,0,0,0,0,0,0,2016,4,20
19,1.0,1,2016-04-09 03:49:42,,1st Avenue,40.7328,-73.9799,3973,272 1st Avenue,low,...,0,0,0,0,0,0,0,2016,4,9
20,1.0,3,2016-04-12 02:39:45,BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...,Madison Avenue,40.7454,-73.9845,4395,121 Madison Avenue,low,...,0,0,0,0,0,0,0,2016,4,12
21,1.0,2,2016-04-07 02:11:45,No fee huge two bedroom apartment. Great locat...,"E 30th St,",40.7427,-73.9794,2999,"210 E 30th St,",medium,...,0,0,0,0,0,0,0,2016,4,7
22,1.0,1,2016-04-13 05:17:43,,East 35th Street,40.7447,-73.9741,2595,326 East 35th Street,low,...,0,0,0,0,0,0,0,2016,4,13
23,1.0,1,2016-04-17 02:26:52,CooperCooper.com :: Web ID #179546; Access 100...,Liberty Street,40.7074,-74.0081,3695,10 Liberty Street,low,...,0,0,0,0,0,0,0,2016,4,17
24,2.0,4,2016-06-07 04:39:56,SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...,W 18 St.,40.7391,-73.9936,7400,30 W 18 St.,medium,...,0,0,1,0,0,0,0,2016,6,7
25,3.5,4,2016-04-27 06:43:40,Amazing 4 bedroom convertible. Remarkably luxu...,East 56th,40.7584,-73.9653,7500,310 East 56th,low,...,0,0,0,0,0,0,0,2016,4,27
26,1.0,1,2016-04-25 02:29:50,Don't miss out on this fantastic apartment.......,E 81st St.,40.7728,-73.9502,2295,444 E 81st St.,medium,...,0,0,0,0,0,0,0,2016,4,25
27,1.0,1,2016-04-22 05:39:10,The TRUE 1 bedroom apartment features extra la...,West 57th Street,40.7709,-73.9917,3164,601 West 57th Street,low,...,0,0,0,0,0,0,0,2016,4,22
28,1.0,1,2016-04-21 05:27:10,"Currently under renovation, this one b...",1215 Morris Avenue,40.8335,-73.9141,1350,1215 Morris Avenue,high,...,0,0,0,0,0,0,0,2016,4,21
29,2.0,2,2016-04-26 02:59:37,Gut Renovated Apartment with Stainless steel a...,E 79th St.,40.7716,-73.9506,5600,435 E 79th St.,low,...,0,0,0,0,0,0,0,2016,4,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48270,1.0,1,2016-06-02 13:24:18,Great deal for a one bedroom located in Prime ...,West 55th Street,40.7669,-73.9917,2727,448 West 55th Street,medium,...,0,0,0,0,0,0,0,2016,6,2
48271,1.0,1,2016-04-25 01:13:37,"Elegant, spacious one bedroom in modern luxury...",North 10th Street,40.7176,-73.9531,3126,250 North 10th Street,low,...,0,0,0,0,0,0,0,2016,4,25
48272,1.0,1,2016-04-26 04:43:14,NaN,W 58th St,40.7655,-73.9785,3325,150 W 58th St,low,...,0,0,0,0,0,0,0,2016,4,26
48273,1.0,0,2016-04-08 05:51:57,(((((IMPORTANT NOTICE))))) If you are planning...,East 78th Street,40.7721,-73.9539,2100,353 East 78th Street,medium,...,0,0,0,0,0,0,0,2016,4,8
48274,1.0,2,2016-04-29 15:03:29,WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...,Ridge Blvd.,40.6182,-74.0360,3500,9319 Ridge Blvd,medium,...,0,0,0,0,0,0,0,2016,4,29
48275,1.0,1,2016-04-24 03:15:18,Luxury Living--- Full-Time Doorman--- Concierg...,8th Avenue,40.7637,-73.9847,2980,888 8th Avenue,low,...,0,0,0,0,0,0,0,2016,4,24
48276,1.0,1,2016-04-25 01:20:23,Only one block form Washington Square Park! Ne...,Thompson Street,40.7293,-73.9987,2850,230 Thompson Street,low,...,0,0,0,0,0,0,0,2016,4,25
48277,1.0,2,2016-04-03 03:51:21,THIS RESIDENCE FEATURES STAINLESS STEAL APPLI...,Water,40.7075,-74.0043,2885,200 Water,low,...,0,0,0,0,0,0,0,2016,4,3
48278,1.0,1,2016-04-19 02:58:55,This newly renovated 1 bedroom unit is recentl...,East 12th Street,40.7287,-73.9808,2950,508 East 12th Street,low,...,0,0,0,0,0,0,0,2016,4,19
48279,1.5,0,2016-04-14 05:39:33,"Bedroom on top, Living room on bottom<br /><br...",York Avenue,40.7769,-73.9467,2650,1661 York Avenue,low,...,0,0,0,0,0,0,0,2016,4,14
48280,1.0,2,2016-06-06 01:22:44,Don't miss out on this spacious and beautiful ...,West 98th Street,40.7957,-73.9705,4850,220 West 98th Street,low,...,0,0,0,0,0,0,0,2016,6,6
48281,1.0,1,2016-04-26 02:18:16,"This exquisitely appointed 1 bedroom, 1 bath r...",West 58th Street,40.7655,-73.9785,3475,150 West 58th Street,low,...,0,0,0,0,0,0,0,2016,4,26
48282,2.0,2,2016-04-16 16:39:50,This spacious two bedroom apartment features e...,Nassau Street,40.7095,-74.0084,5815,Nassau Street,low,...,0,0,0,0,0,1,0,2016,4,16
48283,1.0,1,2016-04-05 04:35:32,Great Lower East Side one bedroom.Well maintai...,Baxter Street,40.7179,-73.9989,2050,119 Baxter Street,medium,...,0,0,0,0,0,0,0,2016,4,5
48284,2.0,3,2016-04-22 03:11:44,THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...,East 3rd Street,40.7222,-73.9824,4600,222 East 3rd Street,low,...,0,0,0,0,0,0,0,2016,4,22
48285,1.0,0,2016-04-29 05:20:49,77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...,E 77 St,40.7708,-73.9525,2000,425 E 77 St,medium,...,0,0,0,1,0,0,0,2016,4,29
48286,2.0,3,2016-04-03 05:23:23,Full-Time Doorman PET FRIENDLYElevator GYMLaun...,East 87th Street,40.7766,-73.9463,9200,501 East 87th Street,low,...,0,0,0,0,0,0,0,2016,4,3
48287,1.0,3,2016-04-15 05:36:39,This is a Great Opportunity to Rent an Excelle...,East 72nd Street,40.7695,-73.9603,4550,200 East 72nd Street,low,...,0,0,0,1,0,0,0,2016,4,15
48288,1.0,1,2016-04-14 03:32:24,,Eldert St,40.6865,-73.9134,1900,51 eldert st,low,...,0,0,0,0,0,0,0,2016,4,14
48289,1.0,0,2016-04-27 12:52:12,Incredibly sunny and spacious studio apartment...,John Street,40.7090,-74.0105,2500,116 John Street,low,...,0,0,0,0,0,1,0,2016,4,27
48290,1.0,1,2016-04-07 02:29:00,"LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...",W 54 St.,40.7645,-73.9840,2500,260 W 54 St.,high,...,1,0,0,0,0,0,0,2016,4,7
48291,1.0,1,2016-04-02 03:17:03,Huge true king size one bedroom in an elevator...,E 76 Street,40.7728,-73.9591,2675,191 E 76 Street,low,...,0,0,0,0,0,0,0,2016,4,2
48292,1.0,1,2016-04-14 03:39:42,"Charming one bedroom! Hardwood floors, sunny, ...",Charles Street,40.7350,-74.0007,3645,6 Charles Street,low,...,0,0,0,0,0,0,0,2016,4,14
48293,1.0,1,2016-04-11 03:29:05,**89th & Park Ave! (block from the central par...,East 89th Street,40.7889,-73.9719,2179,117 East 89th Street,low,...,0,0,0,0,0,0,0,2016,4,11
48294,1.0,1,2016-04-22 15:44:11,24hr Doorman Luxury building in the heart of t...,East 10th Street,40.7296,-73.9869,4500,166 2nd avenue,medium,...,0,0,0,0,0,0,0,2016,4,22
48295,1.0,2,2016-06-02 05:41:05,"30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...",E 30 St,40.7426,-73.9790,3200,230 E 30 St,medium,...,0,0,0,0,0,0,0,2016,6,2
48296,1.0,1,2016-04-04 18:22:34,"HIGH END condo finishes, swimming pool, and ki...",Rector Pl,40.7102,-74.0163,3950,225 Rector Place,low,...,0,1,0,0,0,1,0,2016,4,4
48297,1.0,1,2016-04-16 02:13:40,Large Renovated One Bedroom Apartment with Sta...,West 45th Street,40.7601,-73.9900,2595,341 West 45th Street,low,...,0,0,0,0,0,0,0,2016,4,16
48298,1.0,0,2016-04-08 02:13:33,Stylishly sleek studio apartment with unsurpas...,Wall Street,40.7066,-74.0101,3350,37 Wall Street,low,...,0,0,0,0,0,0,0,2016,4,8
48299,1.0,2,2016-04-12 02:48:07,Look no further!!! This giant 2 bedroom apart...,Park Terrace East,40.8699,-73.9172,2200,30 Park Terrace East,low,...,0,0,0,0,0,0,0,2016,4,12

Part 2 - Reduce memory usage function grabbed from lecture notes (which lecture???)

In [12]:
#Reset dataframe

df = pd.read_csv(LOCAL)
df.head()

,bathrooms,bedrooms,created,description,display_address,latitude,longitude,price,street_address,interest_level,...,high_speed_internet,balcony,swimming_pool,new_construction,exclusive,terrace,loft,garden_patio,common_outdoor_space,wheelchair_access
0,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,40.7145,-73.9425,3000,792 Metropolitan Avenue,medium,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2,2016-06-12 12:19:27,,Columbus Avenue,40.7947,-73.9667,5465,808 Columbus Avenue,low,...,0,0,0,0,0,0,0,0,0,0
2,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,40.7388,-74.0018,2850,241 W 13 Street,high,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,40.7539,-73.9677,3275,333 East 49th Street,low,...,0,0,0,0,0,0,0,0,0,0
4,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,40.8241,-73.9493,3350,500 West 143rd Street,low,...,0,0,0,0,0,0,0,0,0,0

In [13]:
start_mem = df.memory_usage().sum() / 1024**2
print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

Memory usage of dataframe is 12.53 MB

In [14]:
def reduce_mem_usage(df,verbose=True):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.  
        
        credit: https://www.kaggle.com/gemartin/load-data-reduce-memory-usage
    """
    
    df = df.copy()
    
    if verbose:
        start_mem = df.memory_usage().sum() / 1024**2
        print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [15]:
df = reduce_mem_usage(df)

Memory usage of dataframe is 12.53 MB
Memory usage after optimization is: 6.39 MB
Decreased by 49.0%